<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="./index.css"
          rel="stylesheet">
    <script charset="utf-8"
            src="./theme.js"></script>
</head>

<body>
    <div id="app">
        <el-form label-width="300px">
            <el-form-item label="选择主题色：">
                <el-radio-group v-model="color"
                                @change="colorChange">
                    <el-radio :label="item"
                              v-for="item in colors">
                        <span :style="{background: item['rgb(64, 158, 255)']}"
                              style="width: 50px;height: 30px;display: inline-block;vertical-align: middle;"></span>
                    </el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="">
                <el-button type="primary">按钮</el-button>
            </el-form-item>
            <el-form-item label="">
                <template>
                    <el-tabs v-model="activeName">
                        <el-tab-pane label="用户管理"
                                     name="first">用户管理</el-tab-pane>
                        <el-tab-pane label="配置管理"
                                     name="second">配置管理</el-tab-pane>
                        <el-tab-pane label="角色管理"
                                     name="third">角色管理</el-tab-pane>
                        <el-tab-pane label="定时任务补偿"
                                     name="fourth">定时任务补偿</el-tab-pane>
                    </el-tabs>
                </template>
            </el-form-item>
            <el-form-item label="">
                <el-switch v-model="value">
                </el-switch>
            </el-form-item>
            <el-form-item label="">
                <el-select v-model="value2"
                           placeholder="请选择">
                    <el-option v-for="item in options"
                               :key="item.value"
                               :label="item.label"
                               :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="">
                <el-slider v-model="value3"></el-slider>
            </el-form-item>
        </el-form>
    </div>
</body>

<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<!-- 引入组件库 -->
<script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                value3: 50,
                value2: null,
                options: [{
                    value: '选项1',
                    label: '黄金糕'
                }, {
                    value: '选项2',
                    label: '双皮奶'
                }, {
                    value: '选项3',
                    label: '蚵仔煎'
                }, {
                    value: '选项4',
                    label: '龙须面'
                }, {
                    value: '选项5',
                    label: '北京烤鸭'
                }],
                value: true,
                activeName: 'first',
                color: null,
                colors: [{
                    'rgb(64, 158, 255)': 'rgb(81, 135, 189)',
                    'rgb(83, 168, 255)': 'rgb(98, 147, 196)',
                    'rgb(102, 177, 255)': 'rgb(116, 159, 202)',
                    'rgb(121, 187, 255)': 'rgb(133, 171, 209)',
                    'rgb(140, 197, 255)': 'rgb(151, 183, 215)',
                    'rgb(160, 207, 255)': 'rgb(168, 195, 222)',
                    'rgb(179, 216, 255)': 'rgb(185, 207, 229)',
                    'rgb(198, 226, 255)': 'rgb(203, 219, 235)',
                    'rgb(217, 236, 255)': 'rgb(220, 231, 242)',
                    'rgb(236, 245, 255)': 'rgb(238, 243, 248)'
                }, {
                    'rgb(64, 158, 255)': 'rgb(189, 81, 81)',
                    'rgb(83, 168, 255)': 'rgb(196, 98, 98)',
                    'rgb(102, 177, 255)': 'rgb(202, 116, 116)',
                    'rgb(121, 187, 255)': 'rgb(209, 133, 133)',
                    'rgb(140, 197, 255)': 'rgb(215, 151, 151)',
                    'rgb(160, 207, 255)': 'rgb(222, 168, 168)',
                    'rgb(179, 216, 255)': 'rgb(229, 185, 185)',
                    'rgb(198, 226, 255)': 'rgb(235, 203, 203)',
                    'rgb(217, 236, 255)': 'rgb(242, 220, 220)',
                    'rgb(236, 245, 255)': 'rgb(248, 238, 238)',
                }]

            }
        },
        methods: {
            colorChange: function() {
                window.localStorage.setItem('__theme', JSON.stringify(this.color));
                if (typeof window.changeTheme === 'function') {
                    window.changeTheme();
                }
            }
        }
    })
</script>

</html>